html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.App-root{
    height: 100%;
}

.App {
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.app-container{
    height: 100%;
    margin: 0 auto !important;  
}

.form-before-search{
    position: absolute;
    top: calc(50% - 10px);    
    padding: 15px 0;
}

.form-before-search.found{
    position: relative;
    top: 0;
    -webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.container{
    margin: 10px 20px;
}

.gallery-container{
    margin: 0 auto !important;  
}

.gallery-container .video-thumbs{
    padding: 15px;
    text-align: left;
}

.gallery-container .video-thumbs p{
    font-size: 12px;
}

.video-thumbs img{
    width: 100%;
    height: auto;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
